//- 1. We can define variables in Pug just like we do in Javascript
- var navItems = ['Top', 'Services', 'About Us', 'Contact'] 

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Node.js with TailwindCSS, Express and Pug
		script(src="https://cdn.tailwindcss.com")
		script(src="https://unpkg.com/htmx.org@1.9.10")
		link(href="style.css" rel="stylesheet")
	body.p-8.bg-slate-100
		h1.text-xl.mb-4 Sketchbook Launcher
		p
			|  Click a button to launch the sketch with 
			i  canvas-sketch --open 
			|  command.
		p This may take a while (most max 5-10s), because some might install dependencies first. 
		p.text-blue-800 Please note - this is not complete and just a quick mock to explore my sketches faster.
		ul.mt-8.flex.flex-wrap.gap-x-4.gap-y-4
			each sketch in sketches
				a.button.shadow-md(hx-post='/run?sketch='+sketch)= "🚀 " + sketch